.header {
    position: relative;
    background-color: black;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    height: 100px;
}

.header__content {
  display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header__title {
    font-size: 1.5rem;
    font-weight: bolder;
}

.header__nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header__nav-item {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .header a:hover {
    color: #DB7D4A;
  }

  /* .header__nav.open {
    position: absolute;
    top: 70px; 
    left: 0;
    width: 100%;
    z-index: 1;
  } */


  @media (max-width: 1023px){
    .header .header__nav {
        display: none;
    }

    .logo{
      display: flex;
      align-items: center;
      gap: 20px;
    }

    
  }

  /* For desktop */
  @media (min-width: 1024px){
    .header .header__menu {
        display: none;
    }

    .header {
      padding: 0 10%;
    }
  }